[submodule "Xamarin.Native.Nuget/ios-cmake"]
	path = Xamarin.Native.Nuget/ios-cmake
	url = https://github.com/leetal/ios-cmake
	ignore = dirty
[submodule "Sentry/01_Simple/docker/sentry"]
	path = ErrorTracking/Sentry/01_Simple/docker/sentry
	url = https://github.com/getsentry/self-hosted
	ignore = dirty
[submodule "ComputerVision/05_Tesseract/tessdata_fast"]
	path = "ComputerVision/Tesseract/C#/tessdata_fast"
	url = https://github.com/tesseract-ocr/tessdata_fast
	ignore = dirty
[submodule "ComputerVision/05_Tesseract/tessdata"]
	path = "ComputerVision/Tesseract/C#/tessdata"
	url = https://github.com/tesseract-ocr/tessdata
	ignore = dirty
[submodule "ComputerVision/08_Windows10_/sources/zxing-cpp"]
	path = ComputerVision/07_Windows10_Barcode_WinRT/sources/zxing-cpp
	url = https://github.com/nu-book/zxing-cpp
	ignore = dirty
[submodule "ComputerVision/08_Windows10_/sources/opencv"]
	path = ComputerVision/07_Windows10_Barcode_WinRT/sources/opencv
	url = https://github.com/opencv/opencv
	ignore = dirty
[submodule "ComputerVision/08_Windows10_/sources/spdlog"]
	path = ComputerVision/07_Windows10_Barcode_WinRT/sources/spdlog
	url = https://github.com/gabime/spdlog
	ignore = dirty
[submodule "ComputerVision/08_Windows10_OCR_WinRT/sources/spdlog"]
	path = ComputerVision/MicrosoftOCR/04_Windows10_OCR_WinRT/sources/spdlog
	url = https://github.com/gabime/spdlog
	ignore = dirty
[submodule "Logging/spdlog/01_configuration_by_json/sources/spdlog"]
	path = Logging/spdlog/01_configuration_by_toml/sources/spdlog
	url = https://github.com/gabime/spdlog
	ignore = dirty
[submodule "Logging/spdlog/01_configuration_by_json/sources/spdlog_setup"]
	path = Logging/spdlog/01_configuration_by_toml/sources/spdlog_setup
	url = https://github.com/guangie88/spdlog_setup
	ignore = dirty
[submodule "TestFramework/gtest/01_simple/sources/googletest"]
	path = TestFramework/gtest/01_simple/sources/googletest
	url = https://github.com/google/googletest
	ignore = dirty
[submodule "TestFramework/gtest/02_opencppcoverage/sources/googletest"]
	path = TestFramework/gtest/02_opencppcoverage/sources/googletest
	url = https://github.com/google/googletest
	ignore = dirty
[submodule "Unity/01_ShowController/Assets/Oculus"]
	path = Unity/Oculus/01_ShowController/Assets/Oculus
	url = https://github.com/takuya-takeuchi/OculusIntegration
	ignore = dirty
[submodule "Unity/Oculus/02_GrabCube/Assets/Oculus"]
	path = Unity/Oculus/02_GrabCube/Assets/Oculus
	url = https://github.com/takuya-takeuchi/OculusIntegration
[submodule "LinearAlgebra/Eigen/eigen"]
	path = Math/LinearAlgebra/Eigen/eigen
	url = https://gitlab.com/libeigen/eigen
	ignore = dirty
[submodule "Misc/13_VSCodeGdbDebug/opendv"]
	path = Misc/13_VSCodeGdbDebug/opencv
	url = https://github.com/opencv/opencv
	ignore = dirty
[submodule "Misc/15_VSCodeDebugWithCMake/opencv"]
	path = Misc/15_VSCodeDebugWithCMake/opencv
	url = https://github.com/opencv/opencv
	ignore = dirty
[submodule "CMake/05_Boost/spdlog"]
	path = CMake/05_spdlog/spdlog
	url = https://github.com/gabime/spdlog
	ignore = dirty
[submodule "CMake/07_libsodium/libsodium"]
	path = CMake/07_libsodium/libsodium
	url = https://github.com/jedisct1/libsodium
	ignore = dirty
[submodule "CMake/08_curl/curl"]
	path = CMake/08_curl/curl
	url = https://github.com/curl/curl
	ignore = dirty
[submodule "CMake/09_cpprestsdk/cpprestsdk"]
	path = CMake/09_cpprestsdk/cpprestsdk
	url = https://github.com/microsoft/cpprestsdk
	ignore = dirty
[submodule "Cloud/AmazonWebService/S3/aws-sdk-cpp/aws-sdk-cpp"]
	path = Cloud/AmazonWebService/S3/aws-sdk-cpp/aws-sdk-cpp
	url = https://github.com/aws/aws-sdk-cpp
	ignore = dirty
[submodule "Networking/Apache-Kafka/cppkafka/cppkafka"]
	path = Networking/Apache-Kafka/cppkafka/cppkafka
	url = https://github.com/mfontanini/cppkafka
	ignore = dirty
[submodule "Networking/Apache-Kafka/modern-cpp-kafka/modern-cpp-kafka"]
	path = Networking/Apache-Kafka/modern-cpp-kafka/modern-cpp-kafka
	url = https://github.com/morganstanley/modern-cpp-kafka
	ignore = dirty
[submodule "ComputerVision/OpenCV/opencv4"]
	path = ComputerVision/OpenCV/C++/opencv4
	url = https://github.com/opencv/opencv
	ignore = dirty
[submodule "WebApplication/Wasm/emsdk"]
	path = WebApplication/Wasm/emsdk
	url = https://github.com/emscripten-core/emsdk
	ignore = dirty
[submodule "Math/LinearAlgebra/NumCpp/NumCpp"]
	path = Math/LinearAlgebra/NumCpp/NumCpp
	url = https://github.com/dpilger26/NumCpp
	ignore = dirty
[submodule "Hardware/CPU/cpuinfo/cpuinfo"]
	path = Hardware/CPU/cpuinfo/cpuinfo
	url = https://github.com/pytorch/cpuinfo
	ignore = dirty
[submodule "DevTools/bloaty/bloaty"]
	path = DevTools/bloaty/bloaty
	url = https://github.com/google/bloaty
	ignore = dirty
[submodule "TestFramework/Maestro/MAUI/01_CreditCardChecker/libs/test/googletest"]
	path = TestFramework/Maestro/MAUI/01_CreditCardChecker/libs/test/googletest
	url = https://github.com/google/googletest
[submodule "MachineLearning/LibTorch/pytorch"]
	path = MachineLearning/LibTorch/pytorch
	url = https://github.com/pytorch/pytorch
	ignore = dirty
[submodule "Misc/18_LinkError__std_find_trivial_1/opencv"]
	path = Misc/18_LinkError__std_min_element_4/opencv
	url = https://github.com/opencv/opencv
	ignore = dirty
[submodule "ComputerVision/OpenCV/opencv_contrib"]
	path = ComputerVision/OpenCV/C++/opencv_contrib
	url = https://github.com/opencv/opencv_contrib.git
	ignore = dirty
[submodule "MachineLearning/ONNX/ONNXRuntime/C/onnxruntime"]
	path = MachineLearning/ONNX/ONNXRuntime/C/onnxruntime
	url = https://github.com/microsoft/onnxruntime
	ignore = dirty
[submodule "MachineLearning/TensorFlow/C/tensorflow"]
	path = MachineLearning/TensorFlowLite/C/tensorflow
	url = https://github.com/tensorflow/tensorflow
	ignore = dirty
[submodule "MachineLearning/ONNX/ONNXRuntime/C/opencv"]
	path = MachineLearning/ONNX/ONNXRuntime/C/opencv
	url = https://github.com/opencv/opencv
	ignore = dirty
[submodule "3D/f3d/f3d"]
	path = 3D/f3d/f3d
	url = https://github.com/f3d-app/f3d
	ignore = dirty
[submodule "3D/f3d/VTK"]
	path = 3D/f3d/VTK
	url = https://github.com/Kitware/VTK
	ignore = dirty
[submodule "3D/f3d/glfw"]
	path = 3D/f3d/glfw
	url = https://github.com/glfw/glfw
	ignore = dirty
[submodule "ComputerVision/OpenCV/freetype"]
	path = ComputerVision/OpenCV/C++/freetype
	url = https://github.com/freetype/freetype
	ignore = dirty
[submodule "ComputerVision/OpenCV/harfbuzz"]
	path = ComputerVision/OpenCV/C++/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz
	ignore = dirty
[submodule "Serialization/json/rapidjson/rapidjson"]
	path = Serialization/json/rapidjson/rapidjson
	url = https://github.com/Tencent/rapidjson
	ignore = dirty
[submodule "ComputerVision/Tesseract/tesseract"]
	path = ComputerVision/Tesseract/C++/tesseract
	url = https://github.com/tesseract-ocr/tesseract/
	ignore = dirty
[submodule "ComputerVision/Tesseract/tessdata"]
	path = ComputerVision/Tesseract/C++/tessdata
	url = https://github.com/tesseract-ocr/tessdata
	ignore = dirty
[submodule "ComputerVision/Tesseract/C++/leptonica"]
	path = ComputerVision/Tesseract/C++/leptonica
	url = https://github.com/danbloomberg/leptonica
	ignore = dirty
[submodule "Mobile/Android/03_CheckNativeLibraryDependency/opencv"]
	path = Mobile/Android/03_CheckNativeLibraryDependency/opencv
	url = https://github.com/opencv/opencv
	ignore = dirty
[submodule "Robot/ROS2/examples"]
	path = Robot/ROS2/examples
	url = https://github.com/ros2/examples
	ignore = dirty
[submodule "MachineLearning/ONNX/ONNXRuntime/Web/onnxruntime"]
	path = MachineLearning/ONNX/ONNXRuntime/WebAssembly/onnxruntime
	url = https://github.com/microsoft/onnxruntime
	ignore = dirty
[submodule "Cryptography/libsodium/WebAssembly/libsodium"]
	path = Security/Cryptography/libsodium/WebAssembly/libsodium
	url = https://github.com/jedisct1/libsodium
	ignore = dirty
[submodule "Networking/WebSocket++/websocketpp"]
	path = Networking/WebSocket++/websocketpp
	url = https://github.com/zaphoyd/websocketpp
	ignore = dirty
[submodule "ComputerVision/OpenCV/C++/libjxl"]
	path = ComputerVision/OpenCV/C++/libjxl
	url = https://github.com/libjxl/libjxl
	ignore = dirty
[submodule "ComputerVision/OpenCV/C++/benchmark"]
	path = ComputerVision/OpenCV/C++/benchmark
	url = https://github.com/google/benchmark
	ignore = dirty
[submodule "Networking/PcapPlusPlus/PcapPlusPlus"]
	path = Networking/PcapPlusPlus/PcapPlusPlus
	url = https://github.com/seladb/PcapPlusPlus
	ignore = dirty
[submodule "MachineLearning/ONNX/ONNXRuntimeGenAI/C/onnxruntime-genai"]
	path = MachineLearning/ONNX/ONNXRuntimeGenAI/C++/onnxruntime-genai
	url = https://github.com/microsoft/onnxruntime-genai
	ignore = dirty
[submodule "MachineLearning/ONNX/ONNXRuntimeGenAI/C++/00_GetStarted/Phi-3.5-vision-instruct-onnx"]
	path = MachineLearning/ONNX/ONNXRuntimeGenAI/C++/00_GetStarted/Phi-3.5-vision-instruct-onnx
	url = https://huggingface.co/microsoft/Phi-3.5-vision-instruct-onnx
	ignore = dirty
[submodule "Misc/oneTBB/oneTBB"]
	path = Misc/oneTBB/oneTBB
	url = https://github.com/uxlfoundation/oneTBB
	ignore = dirty
[submodule "PointCloud/CloudCompare/CloudCompare"]
	path = PointCloud/CloudCompare/CloudCompare
	url = https://github.com/CloudCompare/CloudCompare
	ignore = dirty
[submodule "PointCloud/CloudCompare/qt5"]
	path = PointCloud/CloudCompare/qt5
	url = https://code.qt.io/qt/qt5.git
	ignore = dirty
