[submodule "Xamarin.Native.Nuget/ios-cmake"]
	path = Xamarin.Native.Nuget/ios-cmake
	url = https://github.com/leetal/ios-cmake
	ignore = dirty
[submodule "Sentry/01_Simple/docker/sentry"]
	path = Sentry/01_Simple/docker/sentry
	url = https://github.com/getsentry/self-hosted
	ignore = dirty
[submodule "ComputerVision/05_Tesseract/tessdata_fast"]
	path = ComputerVision/05_Tesseract/tessdata_fast
	url = https://github.com/tesseract-ocr/tessdata_fast
	ignore = dirty
[submodule "ComputerVision/05_Tesseract/tessdata"]
	path = ComputerVision/05_Tesseract/tessdata
	url = https://github.com/tesseract-ocr/tessdata
	ignore = dirty
