<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <system.serviceModel>
    <client />
    <behaviors>
      <serviceBehaviors>
        <behavior name="BasicConfiguration">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8080/Xamarin.Wcf/MessageService/mex" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding" />
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="BasicConfiguration" name="Xamarin.Wcf.Services.MessageService">
        <endpoint address="http://localhost:8080/Xamarin.Wcf/MessageService"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
            contract="Xamarin.Wcf.Services.IMessageService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>