<launch>
    <!-- arg1 -  x: -->
    <!-- arg2 -  y: -->
    <!-- arg3 -  z: -->
    <!-- arg4 - qx: sin(radian(θ/2)) if rotation on x-asix otherwise 0 -->
    <!-- arg5 - qy: sin(radian(θ/2)) if rotation on x-asix otherwise 0 -->
    <!-- arg6 - qz: sin(radian(θ/2)) if rotation on x-asix otherwise 0 -->
    <!-- arg7 - qw: cos(radian(θ/2)) if rotation on x-asix otherwise 0 -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="static_tf_base_to_sensor"
          args="0.0 0.0 1.0 0 0 0 base_link sensor" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="static_tf_map_to_base"
          args="10.0 20.0 0.0 0 0 0 map base_link" />

    <node name="publisher1" pkg="publisher" type="publisher.py" output="screen" />
</launch>