<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target
			name="ApplicationLogFile"
			xsi:type="File"
			fileName="${specialfolder:folder=LocalApplicationData}/logs/application.log"
			archiveFileName="${specialfolder:folder=LocalApplicationData}/logs/application-{#}.log"
			encoding="UTF-8"
			archiveEvery="Hour"
			archiveNumbering="Date"
			maxArchiveFiles="5"
			archiveDateFormat="yyyyMMddHHmm"
			header="[Start Logging]"
			footer="[End Logging]${newline}"
			layout="${longdate} [${uppercase:${level:padding=-5}}] [${callsite}] ${message} ${exception:format=tostring}" />
		<target
			name="ApplicationConsole"
			xsi:type="ColoredConsole"
			layout="${longdate} [${uppercase:${level:padding=-5}}] [${callsite}] ${message} ${exception:format=tostring}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="ApplicationLogFile" />
		<logger name="*" minlevel="Info" writeTo="ApplicationConsole" />
	</rules>
</nlog>