<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog.txt">
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>
  <targets async="true">
    <target xsi:type="File"
            name="DebugLog" 
            fileName="${aspnet-appbasepath}/logs/debug-${shortdate}.log" 
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message}|url: ${aspnet-request-url:IncludeQueryString=true}" />
    <target xsi:type="File"
            name="InfoLog"
            fileName="${aspnet-appbasepath}/logs/info-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url:IncludeQueryString=true}" />
    <target xsi:type="File"
            name="ErrorLog"
            fileName="${aspnet-appbasepath}/logs/error-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|user: ${aspnet-user-identity} |url: ${aspnet-request-url:IncludeQueryString=true}|action: ${aspnet-request-form}" />
  </targets>
  <rules>
    <logger name="*" maxlevel="Debug" writeTo="DebugLog" />
    <logger name="Microsoft.*" maxLevel="Info" final="true" />
    <logger name="*" levels="Error,Fatal,Warn" writeTo="ErrorLog" />
    <logger name="*" minlevel="Info" writeTo="InfoLog" />
  </rules>
</nlog>